<a href="https://colab.research.google.com/github/SamaSamrin/Data-Cleaning-with-Python/blob/main/Cleaning_very_dirty_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries and connecting to Google Drive for datasets

In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Getting the files

In [6]:
df = pd.read_csv('/content/drive/MyDrive/0 Codes 2025/Datasets/animal_data_dirty.csv', sep=';')
# we are using sep=';' because the values and columns in the data file are separated by semicolons instead of commas

df

,Animal type,Country,Weight kg,Body Length cm,Gender,Animal code,Latitude,Longitude,Animal name,Observation date,Data compiled by
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.01.2024,James Johnson
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.02.2024,James Johnson
2,European bison,Poland,930.000,335.0,male,NaN,52.828845,23.820144,Szefu,01.03.2024,Anne Anthony
3,European bison,Poland,909.000,311.0,not determined,NaN,52.830509,23.826849,NaN,01.03.2024,Anne Anthony
4,European bison™,Poland,581.000,277.0,female,NaN,52.834109,23.807093,NaN,01.03.2024,Anne Anthony
...,...,...,...,...,...,...,...,...,...,...,...
1006,red squirrel,Poland,0.346,20.0,female,NaN,52.212001,21.033187,Lola,7 May 2024,Anne Anthony
1007,hedgehog,Germany,1.000,23.0,female,NaN,49.561356,11.105334,NaN,7 May 2024,Bob Bobson
1008,hedgehog,Germany,0.500,17.0,female,NaN,49.561569,11.087046,NaN,7 May 2024,Bob Bobson
1009,red squirrel,Poland,0.346,20.0,female,NaN,52.212001,21.033187,Lola,7 May 2024,Anne Anthony
1010,hedgehog,Hungary,0.900,16.0,female,NaN,47.509860,18.939943,NaN,8 May 2024,Anne Anthony

# Exploring the dataset

In [10]:
df.columns

Index(['Animal type', 'Country', 'Weight kg', 'Body Length cm', 'Gender',
       'Latitude', 'Longitude', 'Animal name', 'Observation date',
       'Data compiled by'],
      dtype='object')

In [7]:
df.describe()

         Weight kg  Body Length cm  Animal code    Latitude   Longitude
count   984.000000      984.000000          0.0  913.000000  913.000000
mean     39.745503       39.107724          NaN   49.393369   18.203280
std     156.290076       58.628601          NaN    7.168900    3.899601
min      -0.252000      -19.000000          NaN  -78.582973   11.074008
25%       0.293000       19.000000          NaN   48.186913   14.384559
50%       0.331500       21.000000          NaN   49.560723   18.944015
75%       0.800000       23.000000          NaN   52.212433   21.033243
max    1100.000000      350.000000          NaN   52.853843   34.896734

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Animal type       991 non-null    object
 1   Country           999 non-null    object
 2   Weight kg         984 non-null    float64
 3   Body Length cm    984 non-null    float64
 4   Gender            992 non-null    object
 5   Animal code       0 non-null      float64
 6   Latitude          913 non-null    float64
 7   Longitude         913 non-null    float64
 8   Animal name       52 non-null     object
 9   Observation date  1011 non-null   object
 10  Data compiled by  1011 non-null   object
dtypes: float64(5), object(6)
memory usage: 87.0+ KB

# Get rid of Animal Code column because all of its values are NULL

In [9]:
df = df.drop(columns='Animal code')

df

,Animal type,Country,Weight kg,Body Length cm,Gender,Latitude,Longitude,Animal name,Observation date,Data compiled by
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.01.2024,James Johnson
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.02.2024,James Johnson
2,European bison,Poland,930.000,335.0,male,52.828845,23.820144,Szefu,01.03.2024,Anne Anthony
3,European bison,Poland,909.000,311.0,not determined,52.830509,23.826849,NaN,01.03.2024,Anne Anthony
4,European bison™,Poland,581.000,277.0,female,52.834109,23.807093,NaN,01.03.2024,Anne Anthony
...,...,...,...,...,...,...,...,...,...,...
1006,red squirrel,Poland,0.346,20.0,female,52.212001,21.033187,Lola,7 May 2024,Anne Anthony
1007,hedgehog,Germany,1.000,23.0,female,49.561356,11.105334,NaN,7 May 2024,Bob Bobson
1008,hedgehog,Germany,0.500,17.0,female,49.561569,11.087046,NaN,7 May 2024,Bob Bobson
1009,red squirrel,Poland,0.346,20.0,female,52.212001,21.033187,Lola,7 May 2024,Anne Anthony
1010,hedgehog,Hungary,0.900,16.0,female,47.509860,18.939943,NaN,8 May 2024,Anne Anthony