<a href="https://colab.research.google.com/github/SamaSamrin/Data-Cleaning-with-Python/blob/main/Data_Cleaning_Final_Basics_on_Player_Stats_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/0 Codes 2025/Datasets/player_stats.csv')

df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

# Exploring the unclean dataset

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  63 non-null     object
 1   Span    63 non-null     object
 2   Mat     63 non-null     int64
 3   Inns    63 non-null     int64
 4   NO      63 non-null     int64
 5   Runs    63 non-null     int64
 6   HS      63 non-null     object
 7   Ave     63 non-null     float64
 8   BF      63 non-null     object
 9   SR      63 non-null     object
 10  100     63 non-null     int64
 11  50      63 non-null     int64
 12  0       63 non-null     object
 13  4s      63 non-null     object
 14  6s      63 non-null     object
dtypes: float64(1), int64(6), object(8)
memory usage: 7.5+ KB

In [ ]:
df.describe()

,Mat,Inns,NO,Runs,Ave,100,50
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000
mean,78.031746,132.365079,13.777778,6278.634921,53.680317,18.920635,28.015873
std,52.192562,88.907400,11.364126,4137.845252,7.160512,12.783938,19.128169
min,14.000000,20.000000,1.000000,990.000000,48.000000,1.000000,3.000000
25%,23.500000,43.500000,5.000000,2199.500000,49.540000,6.500000,10.500000
50%,79.000000,131.000000,12.000000,6149.000000,51.620000,19.000000,28.000000
75%,118.500000,199.000000,19.000000,9048.500000,56.345000,28.500000,43.000000
max,200.000000,329.000000,49.000000,15921.000000,99.940000,51.000000,68.000000

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
58    False
59    False
60    False
61    False
62    False
Length: 63, dtype: bool

number of null values per column

In [ ]:
df.isna().sum().sort_values(ascending=False)

Player    0
Span      0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Ave       0
BF        0
SR        0
100       0
50        0
0         0
4s        0
6s        0
dtype: int64

number of unique values per column

In [ ]:
df.nunique()

Player    63
Span      59
Mat       52
Inns      55
NO        29
Runs      63
HS        58
Ave       62
BF        61
SR        61
100       36
50        37
0         20
4s        63
6s        38
dtype: int64

# Cleaning

## 1. Renaming columns for better understanding of audience

In [ ]:
df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s'],
      dtype='object')

In [ ]:
df = df.rename(columns={'Mat' : 'Matches',
                        'Inns' : 'Innings',
                        'NO' : 'Not_Out',
                        'HS' : 'Highest_Score',
                        'Ave' : 'Average',
                        'BF' : 'Balls_Faced',
                        'SR' : 'Strike_Rate'})

df

,Player,Span,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

## 2. Removing any duplicate row in the dataset

In [ ]:
df.duplicated().sum()

np.int64(0)

since it is zero, there's no duplicate row here. So we can move on to the next step

if there were duplicate rows, we would remove them using: *df.drop_duplicates()*

## 3. Splitting columns to make more easily readable data

In [ ]:
#checking how the data looks right now

df

,Player,Span,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

### 1. Break the 'Player' column into 'Player_Name' and 'Country'

In [ ]:
df[['Player_Name', 'Country']] = df['Player'].str.split('(', n=2, expand=True)

df

,Player,Span,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Player_Name,Country
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,DG Bradman,AUS)
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,PHKD Mendis,SL)
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AC Voges,AUS)
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,RG Pollock,SA)
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,GA Headley,WI)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,KD Walters,AUS)
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,GC Smith,ICC/SA)
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,WH Ponsford,AUS)
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,SJ McCabe,AUS)
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,DR Jardine,ENG)

In [ ]:
# remove the closing bracket from the Country column values
df['Country'] = df['Country'].str.replace(')', '')

df['Country']

0        AUS
1         SL
2        AUS
3         SA
4         WI
       ...
58       AUS
59    ICC/SA
60       AUS
61       AUS
62       ENG
Name: Country, Length: 63, dtype: object

In [ ]:
df['Country'].value_counts()

Country
AUS        15
ENG        14
WI          8
SA          5
PAK         5
SL          4
IND         4
ICC/IND     2
ICC/SA      2
ICC/WI      1
NZ          1
ZIM         1
ICC/PAK     1
Name: count, dtype: int64

In [ ]:
df['Country'].unique()

array(['AUS', 'SL', 'SA', 'WI', 'ENG', 'ICC/SA', 'NZ', 'IND', 'ICC/WI',
       'PAK', 'ICC/IND', 'ZIM', 'ICC/PAK'], dtype=object)

In [ ]:
df['Country'] = df['Country'].str.replace('ICC/', '')

df['Country'].value_counts()

Country
AUS    15
ENG    14
WI      9
SA      7
IND     6
PAK     6
SL      4
NZ      1
ZIM     1
Name: count, dtype: int64

In [ ]:
#removing the redundant 'Player' column now
df = df.drop(columns='Player')

df

,Span,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Player_Name,Country
0,1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,DG Bradman,AUS
1,2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,PHKD Mendis,SL
2,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AC Voges,AUS
3,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,RG Pollock,SA
4,1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,GA Headley,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,KD Walters,AUS
59,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,GC Smith,SA
60,1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,WH Ponsford,AUS
61,1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,SJ McCabe,AUS
62,1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,DR Jardine,ENG

In [ ]:
# bringing the Player_Name column to the front (0 index)

temp_col_holder = df.pop('Player_Name')

df.insert(0, 'Player_Name', temp_col_holder)

df

,Player_Name,Span,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Country
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,AUS
1,PHKD Mendis,2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,SL
2,AC Voges,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,SA
4,GA Headley,1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,AUS
59,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,SA
60,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,AUS
61,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,AUS
62,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,ENG

### 2. Break the 'Span' column into 'Debut_Year' and 'Final_Year'

In [ ]:
df[['Debut_Year', 'Final_Year']] = df['Span'].str.split('-', n=2, expand=True)

df

,Player_Name,Span,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Country,Debut_Year,Final_Year
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,AUS,1928,1948
1,PHKD Mendis,2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,SL,2022,2025
2,AC Voges,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS,2015,2016
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,SA,1963,1970
4,GA Headley,1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,WI,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,AUS,1965,1981
59,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,SA,2002,2014
60,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,AUS,1924,1934
61,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,AUS,1930,1938
62,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,ENG,1928,1934

In [ ]:
#removing the redundant Span column
df = df.drop(columns='Span')

df

,Player_Name,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Country,Debut_Year,Final_Year
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,AUS,1928,1948
1,PHKD Mendis,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,SL,2022,2025
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS,2015,2016
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,SA,1963,1970
4,GA Headley,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,WI,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,AUS,1965,1981
59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,SA,2002,2014
60,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,AUS,1924,1934
61,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,AUS,1930,1938
62,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,ENG,1928,1934

## 4. Removing unwanted characters

In [ ]:
df

,Player_Name,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Country,Debut_Year,Final_Year
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,AUS,1928,1948
1,PHKD Mendis,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,SL,2022,2025
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS,2015,2016
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,SA,1963,1970
4,GA Headley,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,WI,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,AUS,1965,1981
59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,SA,2002,2014
60,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,AUS,1924,1934
61,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,AUS,1930,1938
62,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,ENG,1928,1934

### Removing * and + from all columns

In [ ]:
df = df.replace(r'[+*-]', '', regex=True)
'''
By passing regex=True, you’re telling Pandas:
“Interpret the pattern I give you as a regular expression, not a literal string.”
So instead of matching exactly "+*-", it will look for any text that matches the regex pattern +*-
'''

df

,Player_Name,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Country,Debut_Year,Final_Year
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,AUS,1928,1948
1,PHKD Mendis,14,24,3,1316,182,62.66,2063,63.79,5,5,,137,24,SL,2022,2025
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,AUS,2015,2016
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,SA,1963,1970
4,GA Headley,22,40,4,2190,270,60.83,416,56,10,5,2,104,1,WI,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,AUS,1965,1981
59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,SA,2002,2014
60,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,AUS,1924,1934
61,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,AUS,1930,1938
62,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,ENG,1928,1934

In [ ]:
#let's check a sample of the data to see how the values look like now
df.sample(10)

,Player_Name,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Country,Debut_Year,Final_Year
49,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,IND,2001,2013
31,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,AUS,1920,1929
25,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,WI,1990,2006
23,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,SA,1935,1951
10,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,WI,1954,1974
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,ENG,1931,1939
27,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,IND,1996,2012
55,Hon.FS Jackson,20,33,4,1415,144,48.79,,,5,6,3,51,0,ENG,1893,1905
58,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,AUS,1965,1981
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,ENG,1937,1957

## 5. Handle null values

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player_Name    63 non-null     object
 1   Matches        63 non-null     int64
 2   Innings        63 non-null     int64
 3   Not_Out        63 non-null     int64
 4   Runs           63 non-null     int64
 5   Highest_Score  63 non-null     object
 6   Average        63 non-null     float64
 7   Balls_Faced    63 non-null     object
 8   Strike_Rate    63 non-null     object
 9   100            63 non-null     int64
 10  50             63 non-null     int64
 11  0              63 non-null     object
 12  4s             63 non-null     object
 13  6s             63 non-null     object
 14  Country        63 non-null     object
 15  Debut_Year     63 non-null     object
 16  Final_Year     63 non-null     object
dtypes: float64(1), int64(6), object(10)
memory usage: 8.5+ KB

This is still showing no null value, because it is considering the empty string in certain columns or rows AS just empty strings. We have to fix that

In [ ]:
df = df.replace('', pd.NA) #changing empty strings into the default null value of Pandas

In [ ]:
#running the info method again to see if it detects the null values now
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player_Name    63 non-null     object
 1   Matches        63 non-null     int64
 2   Innings        63 non-null     int64
 3   Not_Out        63 non-null     int64
 4   Runs           63 non-null     int64
 5   Highest_Score  63 non-null     object
 6   Average        63 non-null     float64
 7   Balls_Faced    60 non-null     object
 8   Strike_Rate    60 non-null     object
 9   100            63 non-null     int64
 10  50             63 non-null     int64
 11  0              61 non-null     object
 12  4s             63 non-null     object
 13  6s             63 non-null     object
 14  Country        63 non-null     object
 15  Debut_Year     63 non-null     object
 16  Final_Year     63 non-null     object
dtypes: float64(1), int64(6), object(10)
memory usage: 8.5+ KB

In [ ]:
df.isna().sum().sort_values(ascending=False)

Balls_Faced      3
Strike_Rate      3
0                2
Player_Name      0
Matches          0
Runs             0
Not_Out          0
Average          0
Innings          0
Highest_Score    0
100              0
50               0
4s               0
6s               0
Country          0
Debut_Year       0
Final_Year       0
dtype: int64

### Filing up the numerical null values with 0 (zero)

In [ ]:
df = df.fillna(0)

In [ ]:
df.isna().sum().sort_values(ascending=False)

Player_Name      0
Matches          0
Innings          0
Not_Out          0
Runs             0
Highest_Score    0
Average          0
Balls_Faced      0
Strike_Rate      0
100              0
50               0
0                0
4s               0
6s               0
Country          0
Debut_Year       0
Final_Year       0
dtype: int64

### Steps not done here:
  * Filling up the numerical null values with average
  * Filling up the categorical null values with empty string

### Checking the result

In [ ]:
df

,Player_Name,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Country,Debut_Year,Final_Year
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,AUS,1928,1948
1,PHKD Mendis,14,24,3,1316,182,62.66,2063,63.79,5,5,0,137,24,SL,2022,2025
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,AUS,2015,2016
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,SA,1963,1970
4,GA Headley,22,40,4,2190,270,60.83,416,56,10,5,2,104,1,WI,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,AUS,1965,1981
59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,SA,2002,2014
60,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,AUS,1924,1934
61,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,AUS,1930,1938
62,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,ENG,1928,1934

In [ ]:
df.sample(10)

,Player_Name,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Country,Debut_Year,Final_Year
49,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,IND,2001,2013
30,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,AUS,1995,2012
23,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,SA,1935,1951
27,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,IND,1996,2012
43,YBK Jaiswal,24,46,2,2209,214,50.20,3336,66.21,6,12,5,270,43,IND,2023,2025
45,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,SL,1997,2014
22,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,AUS,1970,1984
8,ED Weekes,48,81,5,4455,207,58.61,0,0,15,19,6,258,2,WI,1948,1958
28,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,PAK,1998,2010
58,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,AUS,1965,1981

## 6. Proper column data types

In [ ]:
df.dtypes

Player_Name       object
Matches            int64
Innings            int64
Not_Out            int64
Runs               int64
Highest_Score     object
Average          float64
Balls_Faced       object
Strike_Rate       object
100                int64
50                 int64
0                 object
4s                object
6s                object
Country           object
Debut_Year        object
Final_Year        object
dtype: object

These columns should be int: Highest_Score, Balls_Faced, 0, 4s, 6s, Debut_Year, Final_Year

These columns should be float: Strike_Rate

In [ ]:
df = df.astype({'Highest_Score' : int,
           'Balls_Faced' : int,
           '0' : int,
           '4s' : int,
           '6s' : int,
           'Debut_Year' : int,
           'Final_Year' : int,
           'Strike_Rate' : float})

df.dtypes

Player_Name       object
Matches            int64
Innings            int64
Not_Out            int64
Runs               int64
Highest_Score      int64
Average          float64
Balls_Faced        int64
Strike_Rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Country           object
Debut_Year         int64
Final_Year         int64
dtype: object

In [ ]:
df.describe()

,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Debut_Year,Final_Year
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000
mean,78.031746,132.365079,13.777778,6278.634921,249.476190,53.680317,9779.380952,48.167460,18.920635,28.015873,7.587302,636.857143,27.984127,1972.158730,1984.968254
std,52.192562,88.907400,11.364126,4137.845252,62.018951,7.160512,9249.592290,15.945912,12.783938,19.128169,5.581175,530.571690,27.379939,35.594584,34.142476
min,14.000000,20.000000,1.000000,990.000000,122.000000,48.000000,0.000000,0.000000,1.000000,3.000000,0.000000,37.000000,0.000000,1893.000000,1905.000000
25%,23.500000,43.500000,5.000000,2199.500000,206.000000,49.540000,1929.000000,42.465000,6.500000,10.500000,3.000000,142.500000,5.000000,1937.000000,1956.000000
50%,79.000000,131.000000,12.000000,6149.000000,243.000000,51.620000,6558.000000,49.560000,19.000000,28.000000,6.000000,525.000000,21.000000,1978.000000,1994.000000
75%,118.500000,199.000000,19.000000,9048.500000,278.000000,56.345000,15801.000000,55.960000,28.500000,43.000000,11.500000,1065.500000,46.000000,2000.500000,2014.000000
max,200.000000,329.000000,49.000000,15921.000000,400.000000,99.940000,31258.000000,87.520000,51.000000,68.000000,22.000000,2058.000000,97.000000,2024.000000,2025.000000

# Download the cleaned dataset

In [45]:
df

,Player_Name,Matches,Innings,Not_Out,Runs,Highest_Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Country,Debut_Year,Final_Year
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,AUS,1928,1948
1,PHKD Mendis,14,24,3,1316,182,62.66,2063,63.79,5,5,0,137,24,SL,2022,2025
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,AUS,2015,2016
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,SA,1963,1970
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,WI,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,AUS,1965,1981
59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,SA,2002,2014
60,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,AUS,1924,1934
61,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,AUS,1930,1938
62,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,ENG,1928,1934

In [46]:
df.to_csv('new_cleaned_dataset.csv', index=False)
# index=False → prevents Pandas from writing the row numbers as a separate column

We'll use this cleaned dataset later to perform EDA and further operations for data analysis